<!DOCTYPE html>
<html>
  <head>
    <title>NBA Finals Home</title>
  </head>
  <body>
    <a href="/" rel="home">NBA Finals Home</a>
    <div>
      <a href="/finals/" rel="listfinals finals-new"><h2>List of NBA Finals series</h2></a>
    <div>
    <div>
      <a href="/games/" rel="listgames games-search"><h2>List of games in NBA Finals</h2></a>
    <div>
  </body>
</html>
